<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gym Membership Tracking</title>
  <link rel="stylesheet" href="../public/styles.css" />
 </head>
 <body>
 <div class="wrapper">
    <header>
     <h1>Ameen Fitness</h1>
    </header>


    <section>
        <h2>Search Members</h2>
        <div class="search">
    <form action="/searchMember" method="POST">
        
        <input type="text"  name="searchTerm" placeholder="Search name or phone number" >
        <button type="submit">Search</button>
    </form>
        </div>
    </section>
        <br> 

    
    <section>
        <div class="message">
        <strong>Message:</strong> No members Selected.
        </div>
    </section>   
    
    

    <section>
        <h2>Member Info</h2>
        <div class="member-info">
        <form action="/memberResults" method="POST">

            <div class="test">
            <label for="name">First Name:</label>
            <input type="text" id="firstName" name="firstName" value="" >
            </div>

            <div class="test">
            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="lastName" value="" >
            </div>

            <div class="test">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" value="" >
            </div>

            <div class="test">
            <label for="phone">Phone Number:</label>
            <input type="text" id="phone" name="phone" value="" >
            </div>

            <div class="test">
            <label for="Plan">Membership Type:</label>
            <input type="text" id="plan" name="Plan" value="" >
            </div>

            <div class="test">
            <label for="membershipStatus">Membership Status:</label>
            <input type="text" id="status" name="membershipStatus" value="" >
            </div>
            </form>
      </div>
    </section>

    <section>
        <h2>Actions</h2>
       <div class="actions">
        <form  action="/action" method="POST">

            
            <button type="submit" id="checkin">Check In</button>
           

            
            <button type="submit" id="editmember">Edit Member</button>
            

            <button type="submit" id="deleteMember">Delete Member</button>
          
            <button type="submit" id="cancelMember">Cancel Member</button>
            
           
            <button type="submit" id="upgradeMember">Upgrade Member</button>
           
         
            <button type="submit" id="payment">Payment</button>
         
       </div>
</form>
       
    </section>
 </div>   
</body>
</html>