<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gym Membership Tracking</title>
  <link rel="stylesheet" href="../public/styles.css" />
 </head>
 <body>
 <div class="wrapper">
    <header>
     <h1>Ameen Fitness</h1>
    </header>


    <section>
        <div class="search">
        <h2>Search Members</h2>
    <form action="/searchMember" method="POST">
        <input type="text"  placeholder="Search name or phone number" >
        <br>
        <button type="submit">Search</button>
    </form>
        </div>
    </section>
        <br> 
    <section>Member Info</section>


















 </div>   


</body>
</html>