<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gym Membership Tracking</title>
  <link rel="stylesheet" href="/styles.css">
 </head>
 <body>
 <div class="wrapper">
    <header>
     <h1>Ameen Fitness</h1>
     <img src="Weight.jpg" width="100" />

    </header>
    

    <section>
        <h2>Search Members</h2>
        <div class="search">
    <form action="/searchmember" method="POST" autocomplete="off">

            <label for="first_name">First Name:</label>
            <input type="text"  name="first_name"  >
             <label for="last_name">Last Name:</label>
            <input type="text"  name="last_name"  >
            <label for="phone">Phone Number:</label>
            <input type="text"  name="phone" >
     
        <button type="submit">Search</button>
    </form>
        </div>
    </section>
        <br> 

    
    <section>
        <div class="message">
        <strong>Message:</strong> {{message}}
        </div>
    </section>   
    
    

    <section>
        <h2>Member Info</h2>
        <div class="member-info">
        <form action="/memberresults" method="POST" autocomplete="off">

            <div class="test">
            <label for="first_name">First Name:</label>
            <input type="text" id="first_name" name="first_name" value="{{member.first_name}}" >
            </div>

            <div class="test">
            <label for="last_name">Last Name:</label>
            <input type="text" id="last_name" name="last_name" value="{{member.last_name}}" >
            </div>

            <div class="test">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" value="{{member.email}}" >
            </div>

            <div class="test">
            <label for="phone">Phone Number:</label>
            <input type="text" id="phone" name="phone" value="{{member.phone}}" >
            </div>

            <div class="test">
            <label for="membership_plan">Membership Type:</label>
            <select id="membership_plan" name="membership_plan" placeholder=''>
                <option value="Basic" {{#isBasic}}selected{{/isBasic}}>Basic</option>
                <option value="Intermediate" {{#isIntermediate}}selected{{/isIntermediate}}>Intermediate</option>
                <option value="Ultra" {{#isUltra}}selected{{/isUltra}}>Ultra</option>
            </select>
            </div>

            <div class="test">
            <label for="status">Membership Status:</label>
            <select id="status" name="status" placeholder=''>
                <option value="Active" {{#isActive}}selected{{/isActive}}>Active</option>
                <option value="Hold" {{#isHold}}selected{{/isHold}}>Hold</option>
                <option value="Cancelled" {{#isCancelled}}selected{{/isCancelled}}>Cancelled</option>
            </select>
            </div>
            </form>
      </div>
    </section>

    <section>
        <h2>Actions</h2>
       <div class="actions">
        <form  action="/action" method="POST">
        
            <input type="hidden" name ="member_id" value="{{member.member_id}}">
            
            <button type="submit"  name="action" value="AddMember">Add Member</button>

            <button type="submit" name="action" value="checkin">Check In</button>
           
            <button type="submit" name="action" value="editmember">Edit Member</button>
            

            <button type="submit" name="action" value="deleteMember">Delete Member</button>
           
         </form>
       </div>   
    </section>


    <section>
    <h2>Member Table</h2>
    <div class="FindAll">
        <form  action="/FindAll" method="POST">
    <table>
     <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>email</th>
      <th>phone</th> 
      <th>status</th> 
    </tr>
        {{ #members }}
    <tr>
      <td>{{ member_id }}</td>
      <td>{{ first_name }}</td>
      <td>{{ last_name }}</td>
      <td>{{ email }}</td>
      <td>{{ phone }}</td>
      <td>{{ status }}</td>
    </tr>
    {{ /members }}
    </table>
         <button type="submit" name="action" value="FindAll">Find All Members</button>
         </form>
    </div>
    </section>

 </div>   
</body>
</html>