.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

section {
    border: 1px solid #000000;
    padding: 14px;
    margin-bottom: 14px;
    border-radius: 8px;

}


@media (max-width: 768px) {
    .search {flex-direction: column; align-items: stretch;}
}