:root {
  --main-color: rgb(255, 162, 0);
  background: #e0983a;
  --text-color: #fafafa;
}
img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}
.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    
}

section {
    border: 1px solid #000000;
    padding: 14px;
    margin-bottom: 14px;
    border-radius: 8px;

}
h2 {
    display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
    display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
}
.message {
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-top: 10px;
    align-items: center;
}

[type="text"] {
  flex: 1;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px; 
}
select {
   flex: 1;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px; 
}

.actions form  {
    display: grid;
   grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.actions button {
    width: 100%;
}

 .search form {
    display: flex;
    gap: 10px;
    width: 100%;
}
.member-info form {
   
    gap: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.search {
    align-items: center;
    gap: 10px;
}

.test {
    display: flex;
   flex-direction: column;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

@media (max-width: 768px) {
    .search form {flex-direction: column; align-items: stretch;}
    .member-info form {grid-template-columns: 1fr;}
    .actions form {grid-template-columns: 1fr;}
}