.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    
}

section {
    border: 1px solid #000000;
    padding: 14px;
    margin-bottom: 14px;
    border-radius: 8px;

}
h2 {
    display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
    display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
}
.message {
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-top: 10px;
    align-items: center;
}

[type="text"] {
  flex: 1;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px; 
}


 .search form {
    display: flex;
    gap: 10px;
    width: 100%;
}
.member-info form {
   
    gap: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.search {
    align-items: center;
    gap: 10px;
}

.test {
    display: flex;
   flex-direction: column;
}

@media (max-width: 768px) {
    .search form {flex-direction: column; align-items: stretch;}
    .member-info form {grid-template-columns: 1fr;}
    
}